!**/src/main/**
!**/src/test/**

/bin/
.gradle

# Maven
target

# Build
build

# Eclipse
.project
.classpath
.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
*.Identifier